body {
    background: darkblue;
    height: 550vh;
  
  }
  
  .header-title {
    display: flex;
    justify-content: space-between;
  }
  
  .header-text {
    padding-top: 20px;
  }
  
  .header-title .text {
    height: 16px;
    width: 120px;
    left: 12px;
    top: 25px;
    border-radius: nullpx;
    font-weight: 500;
    font-size: 18px;
    color: #EDECFF;
  
  }
  
  .header-title img {
    position: relative;
    height: 20px;
    width: 33.33332824707031px;
    left: 8.33349609375px;
    top: 14.583251953125px;
    border-radius: 0px;
    border-color: #EDECFF;
  
  }
  
  h1 {
    font-weight: 500;
    font-size: 32px;
    color: #EDECFF;
    line-height: 44px;
    text-align: center;
  }
  
  .main-content p {
    color: #EDECFF;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
  
  .sub-title {
    display: flex;
    color: #9490FF;
    font-size: 18px;
    line-height: 24px;
    left: 8px;
    justify-content: space-around;
  ;
  }
   p {
    color: #EDECFF;
  }
  
   .title5 {
     font-size: 48px;
   }
  .skill {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
  }
  .inner-title {
    flex-grow: 2;
  }
  
  .hr {
    width: 100%;
  }
  
  .image {
    display: flex;
    justify-content: center;
    color: #EDECFF ;
  }
  
  img {
    padding: 25px;
     color: #FFFFFF;
    width: 20px;
    height: 16px;
  }
  .image-white {
    height: 236px;
    width: 327px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
  
  }
  .image-white-dive {
    display: flex;
    justify-content: center;
  }
  .multi p {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  
  }
  
  .lang {
    display: flex;
    justify-content: space-around;
  }
  .rect70 {
    position: static;
    width: 1px;
    height: 40px;
    left: 55px;
  }
  
  .lang p {
    margin-top: 34px;
    font-size: 17px;
  }
  
  .button-1 {
    background: #7D73FC;
    height: 60px;
    width: 110px;
    left: 0px;
    top: 421px;
    border-radius: 0px;
    padding: 12px;
    color: #EDECFF;
  
  }
  
  .button-1:hover {
    background: green;
  }
  
  .contact-us p {
    height: 105px;
    padding: 5px;
    left: 0px;
    top: 59px;
    line-height: 24px;
    font-size: 16px;
    border-radius: nullpx;
  
  }
  
  .text-input {
    height: 48px;
    width: 327px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    font-weight: 400;
    padding-left: 15px;
  
  }
  
  .text-area {
    height: 148px;
    width: 327px;
    padding-left: 15px;
    border-radius: 0px;
  
  }
  form {
    display: flex;
    flex-direction: column;
  
  
  }
  
  .form-text {
    display: flex;
    padding-top: 15px;
    justify-content: center;
  }
  
  .email-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
  
  }
  
  
  a {
    height: 29px;
    width: 221px;
    left: 76px;
    top: 5346px;
    border-radius: nullpx;
    font-size: 20px;
    line-height: 28px;
    color: #EDECFF;
    text-decoration: none;
  
  }
  
  .button1 {
    margin-top: 70px;
    display: flex;
    justify-content: center;
  }
  .down-image {
    margin-top: 70px;
  }
  
  .contact-info p {
    color: #7D73FC;
    font-family: Roboto;
  }
  
  
  